.container {
    margin-top: 15%;
}

.h3-container {
    text-align: center;
    padding-top: 10%;
}

.cont-misiones{
    padding-bottom: 10%;
}

.img-ministerios {
    width: 300;
    height: "180px";
}
.col-sm-4 {
    text-align: center;
}